<header class="header" data-header>
  <div class="container">
    <div class="header__nav" data-menu>
      <nav class="nav">
        <ul class="nav__list">
          <li>
            <a href="#">
              <svg class="icon icon-home">
                <use xlink:href="img/sprite.svg#home"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#"> Преимущества </a>
          </li>
          <li>
            <a href="#"> Примеры работ </a>
          </li>
          <li>
            <a href="#"> монтаж </a>
          </li>
          <li>
            <a href="#"> отзывы </a>
          </li>
          <li>
            <a href="#"> Ответы на вопросы </a>
          </li>
          <li>
            <a href="#"> контакты </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header__more" data-more>
      <div class="txt">
        <p>
          <strong>Кровельные и фасадные материалы</strong> в Тюмени и области.
        </p>
        <p>Профессиональный монтаж с 2010 года</p>
      </div>
      <div class="catalog">
        <span>Pdf</span>
        <a href="#" target="_blank"> Скачать прайс-каталог </a>
      </div>

      <div class="brand">
        <a href="#">
          <picture>
            <source srcset="img/logo.webp" type="image/webp" />
            <img loading="lazy" src="/img/logo.png" class="image" alt="" />
          </picture>
        </a>
      </div>

      <div class="social">
        <span>Отвечаем <b>онлайн</b></span>
        <ul class="social__list">
          <li>
            <a href="#" target="_blank" class="social__icon-viber">
              <svg class="icon icon-viber">
                <use xlink:href="img/sprite.svg#viber"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="social__icon-whatsapp">
              <svg class="icon icon-whatsapp">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="social__icon-telegram">
              <svg class="icon icon-telegram">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="call">
        <span><b>Пн-Пт</b> 9:00 - 18:00, <b>Сб</b> 10:00 - 18:00</span>
        <a href="tel:+78000000000" class="phone">+78000000000</a>
        <a href="#" class="link btn-popup" data-path="form-popup">Позвоните мне</a>
      </div>
      <div class="burger" data-burger>
        <div class="burger__line"></div>
      </div>
    </div>
  </div>
</header>
