<section class="hero section">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__vantage">
        <div class="cornered"></div>
        <div class="vantage-more">
          <svg class="icon icon-plus">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <ul class="vantage__list">
          <li class="vantage__item">
            <p>
              <strong> Гарантия от 50 лет </strong>
              на материалы и 5 лет на монтаж
            </p>
          </li>
          <li class="vantage__item">
            <p>
              <strong> Замер, монтажный проект </strong>
              и еще 4 услуги бесплатно
            </p>
          </li>
          <li class="vantage__item">
            <p>
              <strong> Сметы точны </strong>
              до копейки
            </p>
          </li>
          <li class="vantage__item">
            <p>
              <strong> Поэтапная оплата, </strong>
              кредит или рассрочка
            </p>
          </li>
          <li class="vantage__item">
            <p>
              <strong> Наши крыши в каждом поселке </strong>
              и дачном сообществе региона
            </p>
          </li>
        </ul>
      </div>
      <div class="hero__data">
        <h1 class="title">
          Продажа <strong>кровельных материалов</strong> в Тюмени и Тюменской
          области
        </h1>
        <div class="extratitle">
          <span></span><span></span><span></span><span></span>
          и монтаж под ключ
        </div>
        <div class="btns">
          <a href="#" class="btn btn-icon btn-green">
            Рассчитать стоимость <br />
            материалов и монтажа
            <svg class="icon icon-arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
          <a href="#" class="btn btn-icon btn-orange">
            записаться на <br />
            просмотр объектов
            <svg class="icon icon-arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
        <div class="extratxt">
          <svg class="icon icon-cursor">
            <use xlink:href="img/sprite.svg#cursor"></use>
          </svg>
         <p>
          <b> Ответьте на несколько вопросов и получите </b> сметную стоимость и
          3 подарка за экономию нашего времени
         </p>
        </div>
      </div>
    </div>
  </div>
</section>
